* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
}

a {
  color: inherit;
}

html {
  scrollbar-color: white black;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: $lightgray;
  font-family: $sans;
  overflow-x: hidden;
  position: relative;
  &.about {
    background: $mint;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: 0ms !important;
  }
}

::selection {
  background: white;
}

.skip-link {
  position: absolute;
  background-color: white;
  padding: 0.5em 1em;
  letter-spacing: 0.02em;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: $fast;
  &:focus {
    transform: translateX(-50%) translateY(0%);
  }
}
