.page__content {
  @extend %copy;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: var(--padding);
  display: grid;
  column-gap: var(--padding);
  padding-bottom: 2em;
  grid-template-columns: 1fr;
  @include bp(ml) {
    grid-template-columns: 1fr 1fr;
  }
  section:nth-child(2) {
    max-width: 25em;
    grid-row: 1;
    @include bp(ml) {
      grid-column: 2 / 3;
    }
    p {
      hyphens: none;
    }
  }
}

.about__legal {
  margin-top: 2em;
  font-size: var(--ms--1);
  hyphens: none;
  .legal__content {
    @include bp(m){
      columns: 2;
    }
  }
  p {
    display: inline-block;
  }
  summary {
    border: 1px solid currentColor;
    border-radius: 2px;
    display: inline-block;
    padding: .2em .4em;
    cursor: pointer;
    font-size: var(--ms-0);
    margin-bottom: 1.5em;
  }
  ul {
    margin-left: 1.2em;
    margin-bottom: .5em;
  }
}