.projects {
  padding: 0 var(--padding);
  padding-bottom: 2rem;
  position: relative;
}

.project__item {
  list-style: none;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  a {
    text-decoration: none;
  }
  &.hidden {
    display: none;
  }
  .project__title {
    font-size: var(--ms--1);
  }
  img {
    transition: $fast;
  }
  &:hover,
  &:focus-within {
    .projects__image {
      background: white !important;
    }
    img {
      filter: grayscale(0);
    }
  }
  &:nth-child(2n) .projects__image {
    background: $mint;
  }
}

.projects__image {
  margin-bottom: 0.2em;
  background: $orange;
  height: 6em;
  @include bp(m){
    height: 12em;
  }
  display: inline-block;
  transition: $fast;
  border: 1px solid white;
  .no-image & {
    width: 12em;
  }
  img {
    height: 100%;
    width: auto;
    display: block;
    border-radius: 1px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity $fast;
    &.loaded {
      opacity: 1;
    }
  }
}

.intersection-sentry {
  position: absolute;
  left: 0;
  right: 0;
  // visibility: hidden;
  font-size: var(--ms-0);
  top: calc(200vh + -7em);
  height: 30vh;
}
