.projects {
  padding: 0 var(--padding);
  padding-bottom: 5%;
  min-height: 200vh;
  position: relative;
}

.project__item {
  list-style: none;
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  &.hidden {
    display: none;
  }
  .project__title {
    font-size: var(--ms--1);
  }
  img {
    transition: $fast;
  }
  &:hover,
  &:focus {
    .projects__image {
      background: white !important;
    }
    img {
      filter: grayscale(0);
    }
  }
  &:nth-child(2n) .projects__image {
    background: $mint;
  }
}

.projects__image {
  margin-bottom: 0.2em;
  background: $orange;
  height: 10em;
  display: inline-block;
  transition: $fast;
  border: 1px solid white;
  img {
    height: 100%;
    width: auto;
    display: block;
    border-radius: 1px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }
}

.intersection-sentry {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  visibility: hidden;
  font-size: var(--ms-0);
  top: calc(100vh - 2.5em - 3.5em);
}
