.single {
  max-height: 100vh;
}
.single-project {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  font-size: var(--ms-0);
  @include bp(ml) {
    flex-flow: row;
  }
}

.project__images,
.project__copy {
  flex-basis: 50%;
  flex-grow: 1;
  padding-top: 1rem;
  overflow-y: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
  @include bp(ml) {
    max-height: calc(100vh - 6em);
  }
}

.project__images {
  @include bp(ml) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.video__container {
  position: relative;
}
.video__mute {
  display: none;
  [data-has-audio="true"] & {
    display: block;
  }
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0;
  appearance: none;
  background-color: rgb(white, 0.8);
  border-radius: $br;
  border: 0;
  padding: 0 0.2rem;
  cursor: pointer;
  .volume-mute {
    display: none;
  }
  .volume-high {
    display: block;
  }
  .is-muted & {
    .volume-high {
      display: none;
    }
    .volume-mute {
      display: block;
    }
  }
}

.project__links {
  padding-top: 0.5em;
  li {
    list-style: none;
  }
  a {
    padding: 0.2em 0.4em;
    border-radius: 2px;
    border: 1px solid currentColor;
    display: inline-block;
  }
}
.project__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}
img.project__image {
  transition: $fast;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

.project__copy {
  @include bp(ml) {
    padding-right: 1rem;
    border-right: 1px solid $black;
  }
}

.project__text {
  @extend %copy;
  padding-right: 1em;
}

.project__body {
  padding-top: 1em;
  p,
  ul,
  ol {
    margin-bottom: 0.5em;
  }
  li {
    list-style: inside;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  a {
    transition: $fast;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.project__person {
  font-size: var(--ms-3);
  font-weight: 600;
  margin-top: 0.75em;
  margin-bottom: 0.1em;
}

.project__course {
  font-size: var(--ms-0);
  margin-bottom: 0.5em;
}

p.project__supervisor {
  font-size: var(--ms-0);
  font-weight: 600;
  margin-bottom: 0;
  span {
    display: inline-block;

    &:after {
      content: ",";
    }
    &:last-of-type:after {
      content: "";
    }
  }
}
.project__title {
  font-weight: 600;
  font-size: var(--ms-1);
  line-height: 1.35;
  margin-bottom: 0.2em;
  hyphens: none;
}
