.single-project {
  display: flex;
  font-size: var(--ms-0);
}

.project__images,
.project__copy {
  flex-basis: 50%;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
  padding-top: calc(2.5em - 1px);
}

.project__images {
  padding-left: 1em;
  padding-top: 3.5em;
  padding-right: var(--padding);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    opacity: 0;
    transition: $fast;
    &.loaded {
      opacity: 1;
    }
  }
}

.project__copy {
  border-right: 1px solid $black;
  position: relative;
  .site__nav {
    left: 0;
    top: 0;
    right: 0;
  }
}

.project__text {
  @extend %copy;
  padding-left: var(--padding);
  padding-top: var(--padding);
  padding-right: 1em;
}

.project__body {
  p,
  ul,
  ol {
    margin-bottom: 0.5em;
  }
  li {
    list-style: inside;
  }
  a {
    transition: $fast;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.project__person {
  font-size: var(--ms-3);
  font-weight: 600;
  margin-bottom: 0.2em;
}

.project__supervisor {
  font-size: var(--ms-0);
  margin-bottom: 1.5em;
  font-weight: 600;
}
.project__title {
  font-weight: 600;
  font-size: var(--ms-0);
}
