.hero {
  position: relative;
  }
.lines {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: -1000;
}

.projects {
  padding: 0 5%;
  padding-bottom: 5%;
}

.project__item {
  list-style: none;
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  &.hidden {
    display: none;
  }
  .project__title {
    font-size: var(--ms--1)
  }
  &:hover, &:focus {
    img {
      filter: grayscale(0);
      mix-blend-mode: normal;
    }
  }
  &:nth-child(2n) .project__image {
    background: $mint;
  }
}

.project__image {
  margin-bottom: .2em;
  background: $orange;
  height: 10em;
  display: inline-block;
  border: 1px solid white;
  img {
    height: 100%;
    width: auto;
    display: block;
    border-radius: 1px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }
  
}
.filters {
  margin-bottom: 2em;
  font-weight: 600;
  button {
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0.2em;
    &.active {
      font-weight: 800;
      text-decoration: underline;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
