.lines {
  display: block;
  max-width: 100%;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: -1000;
}

.projects {
  padding: 0 5%;
}

.filters {
  button {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0.2em;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
