@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 85rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 70rem) {
      @content;
    }
  } @else if $point==ml {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 45rem) {
      @content;
    }
  } @else if $point==sm {
    @media (min-width: 32rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 26rem) {
      @content;
    }
  }
}

$lightgray: #e0dedc;
$black: #010101;
$orange: #fab747;
$mint: #9ff7be;
$sans: modelica, serif;
$ratio: 1.3;
$fast: 130ms;

:root {
  --ms-0: clamp(1rem, calc(1.3vw + 0.2rem), 1.2rem);
  --ms--1: calc(var(--ms-0) / #{$ratio});
  --ms-1: calc(var(--ms-0) * #{$ratio});
  --ms-2: calc(var(--ms-1) * #{$ratio});
  --ms-3: calc(var(--ms-2) * #{$ratio});
  --ms-4: calc(var(--ms-3) * #{$ratio});
  --ms-5: calc(var(--ms-4) * #{$ratio});
  --ms-6: calc(var(--ms-5) * #{$ratio});
  --padding: 1rem;
  @include bp(s) {
    --padding: 2.5rem;
  }
  @include bp(m) {
    --padding: 3rem;
  }
}

%copy {
  line-height: 1.5;
  letter-spacing: 0.015em;
  word-spacing: 0.001em;
  font-weight: 600;
  hyphens: auto;
  font-size: var(--ms-0);
  font-feature-settings: "onum" 1;
  a {
    text-decoration: none;
    border-bottom: 1px solid rgba($black, 0.4);
    transition: $fast;
    &:hover,
    &:focus {
      border-bottom-color: $black;
    }
  }
  h2 {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0.5em;
    max-width: 40em;
  }
}
