@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "modelica";
  src: url("../assets/fonts/BwModelicaSS02-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 85rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 70rem) {
      @content;
    }
  } @else if $point==ml {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 45rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 35rem) {
      @content;
    }
  }
}

$lightgray: #e0dedc;
$orange: #FAB747;
$mint: #9FF7BE;
$sans: modelica, serif;
$ratio: 1.5;
:root {
  --ms-0: 1rem;
  --ms--1: calc(var(--ms-0) / #{$ratio});
}
