---
layout: base
class: about
---

{% include nav.liquid %}

<article class="page__content">
  <section>
    {{settings.about_copy_left | renderMarkdown }}
    <details class="about__legal">
      <summary>Impressum</summary>
      <div class="legal__content">
        {{settings.legal_copy | renderMarkdown}}
      </div>
    </details>
  </section>
  <section>
    {{settings.about_copy_right | renderMarkdown }}
  </section>
</article>