---
layout: base
class: about
---

{% include nav.liquid %}

<article class="page__content">
  <section>
    {{settings.about_copy_left | renderMarkdown }}
  </section>
  <section>
    {{settings.about_copy_right | renderMarkdown }}
  </section>
</article>