---
layout: base
---

<article class="single-project">
  <section class="project__copy">
  <h2 class="project__person">{{title}}</h2>
  <h3 class="project__title">Project title goes here</h3>
  <div class="project__text">
    {{content}}
  </div>
  </section>
  <section class="project__images">
    
  </section>
</article>
